h2 {
    color: #333;
}
body{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    margin: auto;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 12px;
    text-align: left;
    background-color: gray;
    border: 1px solid #ddd;
    color: white;
    font-weight: 500;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
h1{
    font-weight: 900;
    margin-top: 20px;
}